.wrapper {
  text-align: left;
}
.buttons {
  text-align: center;
}

#eduControls {
  display: none;
  justify-content: center;
}

#boardStats {
  margin-top: 15px;
  text-align: center;
  font-size: larger;
}

.inline {
  display: inline-flex;
  align-content: stretch;
  margin: 0;
  padding: 15px;
  width: 100%;
}
#educationalData {
  padding-left: 20px;
  width: 100%;
}
#educationalData div,
#educationalData pre {
  height: 49%;
  width: 100%;
  background-color: rgb(162, 161, 161);
  padding: 12px 9px;
  border-radius: 5px;
}

#educationalData div {
  margin-bottom: 2%;
}

#logList,
#educationalData pre {
  overflow: auto;
  max-height: 175px;
  min-height: 175px;
}

#desc {
  min-height: 175px;
  background-color: rgb(255, 255, 255);
  padding: 12px 9px;
  border-radius: 5px;
  margin: 15px;
}

.ideal {
  color: rgb(211, 68, 250);
}
.swap {
  color: rgba(255, 0, 51);
}
.compare {
  color: rgb(244, 252, 87);
}
.select {
  color: rgb(203, 61, 246);
}
